{:deps    {re-frame/re-frame {:mvn/version "1.2.0"}
           doxa/doxa         {:git/url    "https://github.com/ribelo/doxa.git"
                              :sha        "6f7ada9dbe9718d454d385291d3bba5c5b378f71"
                              :exclusions [thheller/shadow-cljs]}}
 :aliases {:dev  {:extra-paths ["test"]
                  :extra-deps  {thheller/shadow-cljs       {:mvn/version "2.11.18"}
                                vvvvalvalval/scope-capture {:mvn/version "0.3.2"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {day8.re-frame/test {:mvn/version "0.1.5"}}}}}
